.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.page-no {
  border: 2px solid orangered;
  margin: 10px;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;
}

.pagination-button {
  background-color: orangered;
  width: 100px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}
