.search-container {
  display: flex;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 340px;
}

@media screen and (max-width: 280px) {
  .search-container {
    width: 260px;
  }
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 500px;
  }
}
.search-input {
  outline: none;
  border-width: 0px;
  width: 100%;
  padding: 10px;
}

.search-button {
  background-color: #ff6347;
  width: 80px;
  border-width: 1px;
  cursor: pointer;
}
